@import url("./base.css");
@import url("./header.css");

x-app {
    display: flex;
    flex-direction: column;
}

/* HEADING SECTION */

.heading {
    text-align: center;
    line-height: 1.4;
    background-image: var(--gradient-light-bottom);
}

.heading h1 {
    font-size: clamp(4rem, 10vw, 6rem);
    background-image: linear-gradient(
        45deg,
        var(--color-primary),
        var(--color-secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading p {
    font-size: var(--font-h2);
    font-weight: 600;
}

/* FEATURES SECTION */

.features {
    /*   display: none; */
    text-align: center;
    background-color: var(--color-light);
}

.features .table {
    width: 60rem;
    max-width: 100%;
    margin-top: var(--margin-v-md);
    margin-bottom: var(--margin-v-md);
    overflow: hidden;
    overflow: auto;
    border-radius: var(--radius-sm);
    background: white;
    box-shadow: var(--shadow-block);
}

.features article {
    display: grid;
    grid-template-columns: auto repeat(7, 1fr);
    align-items: center;
    gap: 0.5rem;
    min-width: 42rem;
    padding: 2rem;
}

.features article div {
    text-align: right;
}

.features article .chip.bundle {
    color: var(--color-gray);
}

.features .legend {
    flex-wrap: wrap;
}

.features .legend p {
    padding: 0.4rem 0.8rem 0.4rem 0.5rem;
    border-radius: var(--radius-sm);
}

@media screen and (max-width: 40rem) {
    .features .table {
        background: unset;
        box-shadow: unset;
    }
    .features article {
        width: 60rem;
        overflow: auto;
        align-self: flex-start;
        padding: 0;
        padding-bottom: 1rem;
    }
}

/* DEMO SECTION */

@keyframes shake-x {
    0%,
    100% {
        transform: translateX(0%) rotateZ(0%);
    }
    20% {
        transform: translateX(-5%) rotateZ(-2.5deg);
    }
    40% {
        transform: translateX(5%) rotateZ(2.5deg);
    }
    60% {
        transform: translateX(-5%) rotateZ(-2.5deg);
    }
    80% {
        transform: translateX(5%) rotateZ(2.5deg);
    }
}

.demo {
    /*   display: none; */
    background-image: var(--gradient-light-top);
}

.demo button {
    gap: 0.8rem;
    margin-top: var(--margin-v-md);
    padding: 1rem 2rem 1rem 1.4rem;
    border-radius: 4rem;
    background-color: var(--color-primary);
    background-image: radial-gradient(
        80% 100% at center 100%,
        var(--color-secondary),
        transparent
    );
    border-top: 2px solid var(--color-secondary);
    box-shadow: 0 0.5rem 8rem 1rem var(--color-primary),
        0 0 1rem 0 var(--color-primary);
    color: white;
    transition: transform 200ms ease;
}

.demo button:not(:active) {
    cursor: pointer;
    animation: shake-x 750ms ease;
}

.demo button .sparkle {
    width: 2rem;
    height: 2rem;
    stroke: white;
    fill: white;
}

@media screen and (min-width: 40rem) {
    .demo button:hover {
        transform: scale(1.2);
    }
}

/* CODE SECTION */

.code {
    /*   display: none; */
    background-image: var(--gradient-light-bottom);
}

/* BENCHS SECTION */

.benchs {
    /*   display: none; */
    background-color: var(--color-light);
}

.benchs article {
    margin-top: var(--margin-v-md);
    width: 100%;
    max-width: 40rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.benchs article p {
    text-align: right;
}

.benchs article .chart {
    background-image: repeating-linear-gradient(
        135deg,
        var(--color-shadow),
        var(--color-shadow) 5px,
        transparent 5px,
        transparent 10px
    );
    border-radius: var(--radius-sm);
}

.benchs article .chart::before {
    content: "";
    display: block;
    font-size: var(--font-xs);
    line-height: 2;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: var(--color-gray);
}

.benchs article .chart::before {
    --color-current-primary: inherit;
    background-color: var(--color-current-primary);
}

/* 500ms base reference */
.benchs article .chart.solid::before {
    width: 37.6%;
    content: "~188ms";
}
.benchs article .chart.vif::before {
    width: 51.6%;
    content: "~258ms";
}
.benchs article .chart.vue::before {
    width: 53.8%;
    content: "~269ms";
}
.benchs article .chart.alpine::before {
    width: 67.6%;
    content: "~338ms";
}
.benchs article .chart.lit::before {
    width: 76.4%;
    content: "~382ms";
}
.benchs article .chart.preact::before {
    width: 87.2%;
    content: "~436ms";
}

/* INSTALLATION SECTION */

/* .installation {} */

/* ISSUES SECTION */

.issues {
    /*   display: none; */
    background-image: var(--gradient-light-bottom);
}

/* FOOTER */
footer {
    height: 0.5rem;
    background-image: linear-gradient(
        to right,
        var(--color-secondary),
        var(--color-primary)
    );
}
