@import url("https://cdn.jsdelivr.net/gh/enzoaicardi/codepen/patterns/columns.css");
@import url("https://cdn.jsdelivr.net/gh/enzoaicardi/codepen/skeletons/base.css");
@import url("https://cdn.jsdelivr.net/gh/enzoaicardi/codepen/skeletons/scrollbar.css");

:root {
    --color-gradient: transparent;
    --color-background: #f3f3f3;
    --color-dark: hsl(220, 30%, 20%);
    --color-gray: hsl(220, 20%, 50%);
    --color-light: hsl(20, 30%, 98%);
    --color-primary: hsl(20, 100%, 50%);
    --color-secondary: hsl(45, 100%, 50%);
    --color-shadow: hsla(0, 0%, 0%, 0.1);

    --size-pattern: 20rem;
    --width-max: 1280px;
    --radius-sm: 5px;
    --font-h2: clamp(1.4rem, 3.4vw, 2rem);
    --font-sm: 0.9rem;
    --font-xs: 0.8rem;
    --margin-v-md: 5vh;

    --gradient-light-bottom: linear-gradient(
        to top,
        var(--color-light),
        transparent
    );
    --gradient-light-top: linear-gradient(
        to bottom,
        var(--color-light),
        transparent
    );

    --shadow-block: 0 0 1rem var(--color-shadow);
    --shadow-text: 0 0 0.5rem var(--color-primary);
}

body {
    background-position: center;
    color: var(--color-dark);
}

x-app {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1rem;
    padding: 1rem;
}

section p,
h2 {
    text-align: center;
    max-width: 40rem;
}

@media screen and (max-width: 40rem) {
    :root {
        --size-pattern: 10rem;
    }
}

/* UTILITY */

.flex {
    display: flex;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.self-center {
    align-self: center;
}

.auto {
    margin: auto;
}

.auto-left {
    margin-left: auto;
}

.auto-right {
    margin-right: auto;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

a {
    transition: color 200ms ease;
}

a:hover {
    cursor: pointer;
    color: var(--color-primary);
}

p {
    line-height: 1.4;
}

h2 {
    font-weight: 600;
    font-size: var(--font-h2);
}

.sub-title {
    color: var(--color-gray);
}

.sub-title a {
    text-decoration: underline;
}

.tag {
    padding: 0.2rem 0.4rem;
    color: var(--color-primary);
    font-weight: 400;
    font-size: var(--font-xs);
    border: 1px solid var(--color-primary);
}

.icon {
    line-height: 0;
}

pre {
    margin-top: var(--margin-v-md);
    padding: 0 2rem;
    background: white;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-block);
    line-height: 1.6;
    max-width: 100%;
    overflow: auto;
}

pre i {
    text-shadow: var(--shadow-text);
}

@media screen and (max-width: 40rem) {
    pre {
        padding: 0 1rem;
    }
}

/* HEADER STYLE */

header {
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-image: var(--gradient-light-top);
    backdrop-filter: blur(0.5rem);
    box-shadow: var(--shadow-block);
}

header .wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: inherit;
    max-width: var(--width-max);
}

header .logo {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--color-primary);
}

header h4 {
    font-weight: 700;
    margin-right: 2rem;
}

header h4 sup {
    color: var(--color-primary);
    font-weight: 400;
}

header nav a {
    font-size: var(--font-sm);
    line-height: 1.15rem;
}

header .right {
    margin-left: auto;
}

header svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-dark);
}

header .language-switcher {
    position: relative;
}

header .language-switcher span {
    cursor: pointer;
}

header .language-switcher fieldset {
    position: absolute;
    right: -1rem;
    top: 130%;
    width: max-width;
    padding: 0.5rem;
    gap: 0.5rem;
    line-height: 1.15;
    font-size: var(--font-sm);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-block);
    background-color: var(--color-light);
}

header .language-switcher input {
    display: none;
}

header .language-switcher label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius-sm);
}

header .language-switcher label:hover {
    background-color: var(--color-shadow);
}

header .language-switcher input:checked + label {
    outline: 2px solid var(--color-gray);
}

@media screen and (max-width: 40rem) {
    header .wrapper {
        flex-wrap: wrap;
    }
    header nav {
        order: 99;
        width: 100%;
        flex: none;
        padding-top: 1rem;
        border-top: 1px solid var(--color-dark);
    }
}

/* HEADING SECTION */

.heading {
    text-align: center;
    line-height: 1.4;
    background-image: var(--gradient-light-bottom);
}

.heading h1 {
    font-size: clamp(4rem, 10vw, 6rem);
    background-image: linear-gradient(
        45deg,
        var(--color-primary),
        var(--color-secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading p {
    font-size: var(--font-h2);
    font-weight: 600;
}

/* FEATURES SECTION */

.features {
    /*   display: none; */
    text-align: center;
    background-color: var(--color-light);
}

.features .table {
    width: 60rem;
    max-width: 100%;
    margin-top: var(--margin-v-md);
    margin-bottom: var(--margin-v-md);
    overflow: hidden;
    overflow: auto;
    border-radius: var(--radius-sm);
    background: white;
    box-shadow: var(--shadow-block);
}

.features article {
    display: grid;
    grid-template-columns: auto repeat(7, 1fr);
    align-items: center;
    gap: 0.5rem;
    min-width: 42rem;
    padding: 2rem;
}

.features article div {
    text-align: right;
}

.features article p.bundle {
    color: var(--color-gray);
}

.features article p {
    padding: 0.3rem 0.1rem;
    border-radius: var(--radius-sm);
}

.features p span {
    vertical-align: text-bottom;
}

.features p.check {
    color: hsl(100, 80%, 40%);
    background-color: hsla(100, 70%, 50%, 0.2);
}
.features p.add {
    color: hsl(50, 90%, 40%);
    background-color: hsla(50, 70%, 50%, 0.2);
}
.features p.cancel {
    color: hsl(0, 70%, 60%);
    background-color: hsla(0, 70%, 50%, 0.2);
}

.features .legend {
    flex-wrap: wrap;
}

.features .legend p {
    padding: 0.4rem 0.8rem 0.4rem 0.5rem;
    border-radius: var(--radius-sm);
}

@media screen and (max-width: 40rem) {
    .features .table {
        background: unset;
        box-shadow: unset;
    }
    .features article {
        width: 60rem;
        overflow: auto;
        align-self: flex-start;
        padding: 0;
        padding-bottom: 1rem;
    }
}

/* DEMO SECTION */

@keyframes shake-x {
    0%,
    100% {
        transform: translateX(0%) rotateZ(0%);
    }
    20% {
        transform: translateX(-5%) rotateZ(-2.5deg);
    }
    40% {
        transform: translateX(5%) rotateZ(2.5deg);
    }
    60% {
        transform: translateX(-5%) rotateZ(-2.5deg);
    }
    80% {
        transform: translateX(5%) rotateZ(2.5deg);
    }
}

.demo {
    /*   display: none; */
    background-image: var(--gradient-light-top);
}

.demo button {
    gap: 0.8rem;
    margin-top: var(--margin-v-md);
    padding: 1rem 2rem 1rem 1.4rem;
    border-radius: 4rem;
    background-color: var(--color-primary);
    background-image: radial-gradient(
        80% 100% at center 100%,
        var(--color-secondary),
        transparent
    );
    border-top: 2px solid var(--color-secondary);
    box-shadow: 0 0.5rem 8rem 1rem var(--color-primary),
        0 0 1rem 0 var(--color-primary);
    color: white;
    transition: transform 200ms ease;
}

.demo button:not(:active) {
    cursor: pointer;
    animation: shake-x 750ms ease;
}

.demo button .sparkle {
    width: 2rem;
    height: 2rem;
    stroke: white;
    fill: white;
}

@media screen and (min-width: 40rem) {
    .demo button:hover {
        transform: scale(1.2);
    }
}

/* CODE SECTION */

.code {
    /*   display: none; */
    background-image: var(--gradient-light-bottom);
}

/* BENCHS SECTION */

.benchs {
    /*   display: none; */
    background-color: var(--color-light);
}

.benchs article {
    margin-top: var(--margin-v-md);
    width: 100%;
    max-width: 40rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.benchs article p {
    text-align: right;
}

.benchs article .chart {
    background-image: repeating-linear-gradient(
        135deg,
        var(--color-shadow),
        var(--color-shadow) 5px,
        transparent 5px,
        transparent 10px
    );
    border-radius: var(--radius-sm);
}

.benchs article .chart::before {
    content: "";
    display: block;
    font-size: var(--font-xs);
    line-height: 2;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: var(--color-gray);
}

.benchs article div:nth-child(2)::before {
    width: 51.8%;
    content: "~259ms";
    background-color: var(--color-secondary);
}
.benchs article div:nth-child(4)::before {
    width: 76.4%;
    content: "~382ms";
    background-color: #324fff;
}
.benchs article div:nth-child(6)::before {
    width: 53.8%;
    content: "~269ms";
    background-color: #42b883;
}
.benchs article div:nth-child(8)::before {
    width: 67.6%;
    content: "~338ms";
    background-color: #48a9c1;
}

/* INSTALLATION SECTION */

.installation {
    /*   display: none; */
}

/* ISSUES SECTION */

.issues {
    /*   display: none; */
    background-image: var(--gradient-light-bottom);
}

/* FOOTER */
footer {
    height: 0.5rem;
    background-image: linear-gradient(
        to right,
        var(--color-secondary),
        var(--color-primary)
    );
}
